a{
    text-decoration: none;
}
form{
    border: solid 1px #cccccc;
    background-color: #eeeeee;
    padding: 5px;

}.direita{
    border: solid 1px #000000;
    margin: 3px;
    float: left;
 }
 .botao{
     border: solid 1px #ccc;
     margin: 4px;
     padding: 4px;
     background-color: #e4e4e4;
     text-decoration: none;
     width: 40px;
     height: 15px;
     text-shadow: 0 2 2 1;
     -moz-border-radius: 3 3 3 3;
}
input[type=text]{
    border: solid 0px;

}
.tabel{
    border: solid 1px coral;background-color: #e4e4e4; font-size: 19px;
}